.tout {
    margin : 30px;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
}

.btn {
    background-color: #f5f5f5;
    color: #363636;
    border: 1px solid #363636;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}

.btn:hover {
    background-color: #a5a5a5;
    color: #000000;
}

.box {
    /* Style the boxes. used for comments, input fields, textareas */
    border: 1px solid #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
}
.box:hover {
    border: 1px solid #363636;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
.textarea:hover {
    border: 1px solid #363636;
}
.formulaire {
    margin: 30px 0;
}
.tag {
    margin-right: 0.5rem
}

.columns {
    margin-right: 1rem;
    margin-left: 1rem;
}
